.todo-item-container{
    display: flex;
    justify-content: center;
}


.todo-item-form{
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1rem;
}
.todo-item-inputs{
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
}

.todo-item-inputs input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 12px;
    outline: none;
}

.todo-item-inputs input:focus{
    border-color: lightgreen;
}

.submit-btn{
   background-color: #007bff;
   border-color: #007bff;
   color: #fff;



}