.home-container {
    display: flex;
    flex-direction: column;

    width: 80%;
}


.header {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;

}

.main-container-sub {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
}
.left{
    flex: 1 0 25%;
}

.right {
    padding: 1rem;
    border: 1px solid gray;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 70%;

}

.bottom {
    width: 100%;
}


.btn {
    padding: 7px 10px;
    border-width: 1px;
    border-style:  solid;
    border-radius: 12px;
    cursor: pointer;
}