.home-container {
    display: flex;
    flex-direction: column;

    width: 80%;
}


.header {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 10px;

}

.main-container-sub {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 1rem;
    width: 100%;
}

.left {
    flex: 1 0 20%;
}

.right {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 60%;

}



.todos-list {
    width: 100%;

}



.btn {
    padding: 1px 6px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    height: 32px;
}

.week-4{
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 100%;
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}


.mouse-position-container, .mouse-position-render-container{
    flex-basis: 45%;
}